<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ site.Params.description }}{{ end }}">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} | {{ site.Title }}{{ end }}</title>
<link rel="canonical" href="{{ .Permalink }}">
{{ with .OutputFormats.Get "rss" }}
  <link rel="alternate" type="{{ .MediaType.Type }}" href="{{ .RelPermalink }}" title="{{ site.Title }}">
{{ end }}
{{ with resources.Get "site.webmanifest" }}
  {{ with resources.ExecuteAsTemplate "site.webmanifest" $ . }}
    <link rel="manifest" href="{{ .RelPermalink }}">
  {{ end }}
{{ end }}
{{ partial "opengraph.html" . }}
{{ partial "schema.html" . }}
{{ partialCached "assets/css.html" . }}
{{ partialCached "assets/js.html" . }}
