{{ define "main" }}
  <section class="listing site-container">
    <header class="listing-header">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
      {{ partial "content/pagination-note.html" . }}
    </header>

    {{ $paginator := .Paginate .RegularPages.ByDate.Reverse }}
    <div class="page-list">
      {{ range $paginator.Pages }}
        {{ partial "content/card.html" . }}
      {{ else }}
        <p>{{ i18n "no_pages" }}</p>
      {{ end }}
    </div>
    {{ partial "pagination.html" . }}
  </section>
{{ end }}
